players/*
worlds/*
plugins/*
bin/*
timings/*
resource_packs/*
*.log
*.phar
server.properties
/pocketmine.yml
*.txt
Eventaxhl.yml
crashdumps/*
.idea/*
nbproject/*
Thumbs.db
Desktop.ini
.DS_Store
/nbproject/private/
/docs/build/
!/docs/requirements.txt
.project
src/.idea/modules.xml
src/.idea/php.xml
src/.idea/src.iml
src/.idea/workspace.xml
src/.idea/misc.xml
src/.idea/dictionaries/alex.xml
src/.idea/vcs.xml
ops.json
whitelist.json
